//項目名を改行しない
.posts-index-table th {
  white-space: nowrap;
}

//投稿者名と評価の星を改行しない
.posts-index-table td:nth-child(8),
.posts-index-table td:nth-child(9) {
  white-space: nowrap;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}